/* =====================================================================
* Filename: styles.css
* Template: Website Error Pages
* Author: Jarel Remick - http://www.jremick.com
* Date Created: 08/18/2009
* Media: Screen
* ------
* CSS Reset using "reset.css" from 960 framework package, derived from Eric Meyers.
===================================================================== */

/* FOR FIREFOX 3.5+, Safari and Opera 10 (IE has different requirements and needs .eot format) */
@font-face { font-family: "Droid Custom"; src: url(../fonts/DroidSerif-Regular.ttf) format("truetype"); }  
@font-face { font-family: "Droid Custom"; src: url(../fonts/DroidSerif-Bold.ttf) format("truetype"); font-weight: bold; }  

/* Optional Background "bg-opt.jpg" */
body { color: #646464; font: 13px Helvetica, Arial, sans-serif; line-height: 17px; }

/* ============= LAYOUT ============= */
#ajaxWrap { width: 100%; height: 100%; }
#wrapper { width: 734px; margin: 0 auto; position: relative; }
#bg-top { height: 31px; background: url(../images/template/container-top-bg.png) no-repeat; }
#bg-bottom { height: 31px; background: url(../images/template/container-bottom-bg.png) no-repeat; }
#contentWrap { background: url(../images/template/container-bg-repeat.png) repeat-y; padding: 14px 0; }
#content { width: 700px; background: url(../images/template/content-gradient-bg.png) no-repeat; margin-bottom: -56px; position: relative; top: -28px; left: 17px; }

#leftColumn { width: 240px; background: url(../images/template/divider-shadow.png) no-repeat right 0; position: relative; z-index: 1; }
#rightColumn { width: 321px; background: url(../images/template/divider.gif) repeat-y; margin-left: -1px; }
#leftColumn, #rightColumn { height: 380px; float: left; padding: 35px; }

#logo { margin: 0 auto; margin-top: -9px; display: block; }

/* ============= MISC ELEMENTS ============= */
#nav { margin: 20px 0 0 20px; }
#nav ul { list-style: none; font-weight: normal; padding: 15px 0 10px 25px; margin-left: 65px; background: url(../images/template/menu-divider.png) no-repeat; }
#nav li { height: 34px; padding-left: 35px; opacity: .5; cursor: pointer; }
#nav li:hover { opacity: 1; }
#nav li a { font-size: 16px; text-decoration: none; color: #666; line-height: 26px; }
#nav li:hover a { color: #a62e2e; }

#nav li.home { background: url(../images/template/icons/home-icon.png) no-repeat; }
#nav li.about { background: url(../images/template/icons/about-icon.png) no-repeat; }
.contact { background: url(../images/template/icons/contact-icon.png) no-repeat; width:32px; height:24px; display:inline-block; float:left;}
.h4title{ top:-5px; display:inline-block; font-weight:bold; padding-top:5px;}
#nav span { display: block; height: 50px; float: left; padding-top: 50px; font: 16px  "Droid Custom", Georgia, Garamond, serif; text-align: right; font-weight: normal; }

form { width: 210px; margin: 5px; }
/*input { float: left; }*/
/*input[type='text'] { */
	/*width: 158px;*/
	/*height: 17px;*/
	/*border: 0;*/
	/*padding: 8px 11px 5px;*/
	/*color: #666;*/
	/*background: url(../images/template/search-input-bg.png) no-repeat;*/
/*}*/
/**
input[type='submit'] {
	width: 28px;
	height: 29px;
	border: 0;
	cursor: pointer;
	background: url(../images/template/search-btn.png) no-repeat;
}
input[type='submit']:hover { background-position: 0 -30px; }
**/
input[type='submit'] {
    text-decoration: none;
    margin: 10px auto;
    display:inline-block;
    -moz-border-radius:4px;
	-webkit-border-radius:4px;
	padding:4px 2px 4px 2px;
	font-size:11px;
	font-weight:bold;
    background:#888888;
	border:1px solid #777777;
	color:#fff;
	text-shadow:0 -1px 0 #666666;
    box-shadow: 1px 1px 1px #aaaaaa;
    width: 80px;
    margin-top: 8px;
}
input[type='submit']:hover {
    background:#39d;
	border:1px solid #39D;
	color:#fff;
	text-shadow:0 -1px 0 #2277bb;
    box-shadow: 1px 1px 1px #88bbd4;
	cursor:pointer;
}

/* CLOSE BUTTON - USED WITH JAVASCRIPT POPUP VERSION */
#close {
	width: 60px;
	height: 24px;
	display: block;
	position: absolute;
	bottom: 18px;
	right: 20px;
	background: url(../images/template/close-btn.png) no-repeat right 0;
	line-height: 26px;
	text-decoration: none;
	color: #999;
	cursor: pointer;
}
#close:hover { background-position: right -24px; color: #666; }
/* END CLOSE BUTTON */

.clear { clear: both; }

/* ============= FONTS ============= */
/* === Headings === */
h1,h2,h3,h4,h5,h6 { font-family: "Droid Custom", Georgia, Garamond, serif; font-weight: normal; color: #2d2d2d; }

/* BEGIN STYLES FOR THE LARGE ERROR MESSAGE */
h1 {
	font-size: 128px;
	line-height: 128px;
	letter-spacing: -5px;
	color: #000;
	width: 240px;
	position: absolute;
	top: 265px;
	opacity: .04;
}
h1:hover { opacity: .1; }
h1 span {
	font-size: 28px;
	line-height: 28px;	
	font-weight: bold;
	text-align: right;
	text-transform: uppercase;
	letter-spacing: -1px;
	display: block;
	margin-top: -20px;
}
/* END STYLES FOR THE LARGE ERROR MESSAGE */

h2 { font-size: 27px; margin: 7px 0 20px; line-height: 31px; color: #454545; letter-spacing: -1px; }
h3 { font-size: 18px; line-height: 1; margin-bottom: 1em; color: #616161; }
h4 { font-size: 14px; line-height: 17px; margin-bottom: 1em; color: #616161; }
h3.regular,
h4.regular { font-family: Helvetica, Arial, sans-serif; }

/* === Text elements === */
p           { margin: 0 0 1.5em; }
a:focus, 
a:hover     { color: #3b4761; text-decoration: none; }
a           { color: #a62e2e; text-decoration: underline; }
strong      { font-weight: bold; }
em		    { font-style: italic; }

/* === Lists === */
ul, ol      { margin: 0 20px 20px 40px; font-weight: bold; color: #a62e2e; line-height: 20px; }
ol span		{ font-weight: normal; color: #646464; }

ul          { list-style-type: disc; }
ol          { list-style-type: decimal; }

.inputBox {
    display: block;
    font-size: 11px;
    line-height: 1.4em;
    padding: 5px;
    color: #676662;
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #C0C0C0 #D9D9D9 #D9D9D9;
    border-right: 1px solid #D9D9D9;
    border-style: solid;
    border-width: 1px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.longInput {
    width: 520px;
}

.mediumInput {
    width: 350px;
}

.smallInput {
    width: 200px;
}

.inputBox:focus, .inputBox:hover {
    border: 1px solid #4D90FE;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3) inset;
    outline: medium none;
}

